@using ActionMailer.Net.Mvc
@model ProjectTemplate.Web.Models.Account.SendResetPasswordEmailModel

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        Dear @string.Format("{0} {1}", Model.FirstName, Model.LastName),
        you ask to reset your password on ProjectTemplate.com!
    </div>
    <div>
        To continue reseting password follow <a href="@Url.AbsoluteAction("SetNewPassword", "Account", new { p = @Model.ResetToken})">
                                                 @Url.AbsoluteAction("SetNewPassword", "Account", new { p = @Model.ResetToken})
                                             </a>
    </div>
</body>
</html>
