@model ProjectTemplate.Web.Models.Account.SetNewPasswordModel
@{
    ViewBag.Title = "Set New Password";
    Layout = "~/Views/Shared/_LogoPageLayout.cshtml";
}
@section styles
{
    @Styles.Render("~/bundles/setNewPassword")
}
@section rightSideContent
{
    <div class="circled-container">
        <h2>
            Please set a new password.
        </h2>
        @using (@Html.BeginForm("SetNewPassword", "Account"))
        {
            <div>
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div>
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            @Html.HiddenFor(m => m.ResetToken)
            <input type="submit" value="" />
        }
    </div>
}
